@import './header/header.css';
@import './main/main.css';
@import './misc.css';

/* COMPLEX HELPER CLASSES */

@import './helper/button.css';
@import './helper/checkbox.css';
@import './helper/collapsible.css';
@import './helper/fancyLink.css';
@import './helper/overlay.css';
@import './helper/progressBar.css';
@import './helper/timeline.css';

:root {
  isolation: isolate;

  --white: #fff;
  --black: #0e0e0e;
  --dark-gray: hsl(209, 5%, 12%);
  --gray: hsl(209, 5%, 35%);
  --light-gray: hsl(216, 5%, 58%);
  --lighter-gray: hsl(216, 5%, 81%);
  /* --pri: hsl(209, 69%, 50%); */
  /* --pri-d: hsl(209, 69%, 40%); */
  /* --pri-l: hsl(209, 69%, 60%); */
  --pri: hsl(209, 100%, 60%);
  --pri-d: hsl(209, 100%, 40%);
  --pri-l: hsl(209, 100%, 70%);
  /* --sec: #ff7; */
  --red: hsl(8, 100%, 50%);
  --red-d: hsl(8, 100%, 40%);
  --red-l: hsl(8, 100%, 60%);
  --green: hsl(128, 100%, 50%);
  --green-d: hsl(128, 100%, 40%);
  --green-l: hsl(128, 100%, 60%);
  --form: hsl(216, 100%, 98%);

  --text-pri: var(--white);

  --radius-xs: 0.1rem;
  --radius-s: 0.3rem;
  --radius-m: 0.5rem;

  --scroll-width: 0.6875rem;
}

html {
  scroll-behavior: smooth;
  background: var(--dark-gray);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: var(--white);
}

body {
  overflow: hidden;
  display: flex;
  align-items: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 3rem 9rem;
  min-height: 100vh;
}

footer {
  color: var(--light-gray);
  margin-top: 6rem;
}

footer p {
  margin: 0;
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: var(--scroll-width);
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: var(--scroll-width);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-gray);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background-color: var(--pri);
  color: var(--text-pri);
}

#app > div {
  display: flex;
  background: var(--dark-gray);
  position: relative;
}

#app .shadow {
  pointer-events: none;
  box-shadow: inset 0 2.5rem 1rem -1.25rem var(--dark-gray), inset 0 -2.5rem 1rem -1.25rem var(--dark-gray);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

/* ATOMS */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h2 {
  margin-top: 3rem;
}

p,
span {
  max-width: 40em;
}

a {
  color: var(--pri);
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
svg {
  display: inherit;
}

/* SIMPLE HELPER CLASSES */

.material-symbols-rounded {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-rounded.fill {
  font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.observe {
  opacity: 0;
}

.observed.obs-top {
  animation: fade-from-top 300ms ease-out forwards;
}

@keyframes fade-from-top {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.observed:not(.obs-top) {
  animation: fade-from-right 300ms ease-out forwards;
}

@keyframes fade-from-right {
  from {
    opacity: 0;
    transform: translateX(3rem);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

/* BREAKPOINTS */

@media only screen and (width > 60em) {
  body:has(#app.fullscreen) {
    overflow: unset;
    padding: 0;
  }

  body:has(#app:not(.fullscreen)) {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }

  body:has(#app[data-flip='true'].fullscreen) {
    overflow: hidden;
  }

  #app:not(.fullscreen) {
    margin: auto;
    perspective: 1600rem;
    transform-style: preserve-3d;
  }

  #app:not(.fullscreen) > div {
    box-shadow: 0 0 2rem var(--black);
    border-radius: var(--radius-s);
    max-width: 80rem;
    height: clamp(28.5rem, calc(100vh - 9rem), 45.5rem);
    transition: transform 1.5s ease;
    transform-style: preserve-3d;
  }

  #app:not(.fullscreen)[data-flip='true'] > div {
    transform: perspective(160rem) rotateY(-180deg);
  }

  #app:not(.fullscreen)[data-flip='false'] #settings,
  #app:not(.fullscreen)[data-flip='true'] :is(header, main .profile, main .container) {
    pointer-events: none;
  }

  #app.fullscreen {
    width: 100%;
  }

  #app.fullscreen > div {
    flex-direction: column;
  }

  #app.fullscreen .shadow {
    display: none;
  }
}

@media only screen and (width <= 60em) {
  html {
    font-size: 14px;
  }

  body {
    overflow: unset;
    padding: 0;
    --scroll-width: 0.6875rem;
  }

  body:has(#app[data-flip='true']) {
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    width: var(--scroll-width);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: var(--scroll-width);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--light-gray);
  }

  #app > div {
    flex-direction: column;
  }

  #app .shadow {
    display: none;
  }
}

@media only screen and (width <= 30em) {
  html {
    font-size: 12px;
  }
}

@media print {
  * {
    transform-style: flat !important;
  }

  html {
    color: black;
  }

  header,
  #loading-screen,
  #skip-to-content,
  #app main .profile,
  #app .shadow,
  #settings,
  #canvas-particles,
  #tracker,
  a.overlay {
    display: none !important;
  }

  body {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }

  h1 {
    break-before: page;
    page-break-before: always;
  }

  .observe {
    opacity: 1 !important;
  }

  #app {
    margin: 0;
  }

  #app {
    transform: none !important;
  }

  #app > div {
    box-shadow: none !important;
  }

  #app .container {
    overflow: visible;
    margin: 0;
    width: 100dvw;
    max-width: 100%;
  }

  #portfolio ul.projects li {
    border: 1px solid var(--pri);
    break-inside: avoid;
    page-break-inside: avoid;
  }

  #portfolio ul.projects li > div:first-child {
    bottom: 0;
  }

  #portfolio ul.projects li > div:first-child > * {
    color: var(--black);
    transform: none;
    opacity: 1;
  }
}
