@import 'profile.css';
@import 'personal.css';
@import 'work.css';
@import 'education.css';
@import 'skills.css';
@import 'portfolio.css';
@import 'contact.css';
@import 'settings.css';

main {
  --scroll-width: 0.6875rem;
  display: flex;
  backface-visibility: hidden;
  position: relative;
  transform-style: preserve-3d;
}

:is(main .container, #settings) h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-top: 1.25rem;
}

:is(main, #settings) h1 a {
  display: block;
  text-decoration: none;
  color: var(--white);
}

:is(main, #settings) h1 a:focus-visible {
  outline: thin solid;
}

:is(main, #settings) h1 a:is(:hover, :focus-visible) {
  text-decoration: underline;
}

:is(main, #settings) h1 a::before {
  content: '#';
  display: inline-block;
  font-size: 0.8em;
  text-decoration: none;
  color: var(--pri);
  line-height: 1;
  margin-left: -0.8em;
  width: 0.8em;
  opacity: 0;
  transition: opacity 150ms;
}

:is(main, #settings) h1 a:is(:hover, :focus-visible)::before {
  opacity: 1;
}

main h1 .icon {
  font-size: 3rem;
  color: var(--light-gray);
  transition: color 150ms;
}

main :is(section, article):hover > h1 .icon {
  color: var(--pri);
}

main.disable3d {
  transform-style: unset;
}

main .container {
  scroll-behavior: smooth;
  overflow-x: hidden;
  border: 1px solid var(--dark-gray);
  padding: 1.5rem calc(3rem - var(--scroll-width)) 1.5rem 3rem;
}

main .container article:not(:last-of-type)::after {
  content: '';
  display: block;
  background-color: var(--gray);
  margin-top: 5rem;
  width: 100%;
  height: 1px;
}

main .container article:not(:first-child) {
  margin-top: 3.75rem;
}

@media only screen and (width <= 85em) {
  main {
    scroll-behavior: smooth;
    overflow-x: hidden;
    flex-direction: column;
    border: 1px solid var(--dark-gray);
    transform-style: unset;
  }

  main .container {
    overflow: unset;
    border: 0;
    padding: 1.5rem 4%;
  }
}

@media only screen and (width > 60em) {
  #app.fullscreen main {
    overflow: unset;
    flex-direction: column;
    background-color: var(--dark-gray);
    border: 0;
    margin: 0 auto;
    padding: 0 4%;
    max-width: calc(60em + 8%);
  }

  #app.fullscreen main::-webkit-scrollbar {
    width: var(--scroll-width);
  }

  #app.fullscreen main::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: var(--scroll-width);
  }

  #app.fullscreen main::-webkit-scrollbar-thumb:hover {
    background: var(--light-gray);
  }

  #app.fullscreen main .container {
    overflow: unset;
    border: 0;
    padding: 1.5rem 0;
  }
}

@media only screen and (width <= 60em) {
  main {
    overflow: unset;
    border: 0;
  }

  main .container {
    padding-right: max(1.5em, calc(4% - var(--scroll-width)));
  }
}
