#personal p:first-of-type {
  text-align: justify;
  line-height: 1.5;
}

#personal .personal-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: 3rem 0;
}

#personal .personal-info .material-symbols-rounded {
  font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

#personal .personal-info li {
  flex: 1 0 14rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--black);
  border: 1px solid var(--gray);
  border-radius: var(--radius-s);
  white-space: nowrap;
  position: relative;
  padding: 0.5rem 1rem;
  transition: border-color 150ms;
}

#personal .personal-info li > * {
  transform-style: preserve-3d;
  transform: translateZ(2rem);
  will-change: transform;
}

#personal .personal-info li:hover {
  border-color: var(--pri);
}

#personal .personal-info li h3 {
  color: var(--pri);
  margin: 0;
}

#personal .personal-info li .icon {
  order: -1;
  color: var(--pri);
  font-size: 2rem;
}

#personal .personal-info li .overlay {
  justify-content: flex-end;
}

#personal .personal-info li:nth-child(2) div:last-child {
  order: -1;
  background: linear-gradient(90deg, black 33%, yellow 33%, yellow 67%, red 67%);
  border-radius: var(--radius-xs);
  width: 2rem;
  height: 2rem;
}

#personal .languages {
  border: 0;
  border-radius: var(--radius-m);
  border-collapse: collapse;
  box-shadow: 0 0 0 2px var(--gray), 0 0 1rem var(--black);
  will-change: transform;
}

#personal .languages tr:not(:first-child) {
  border-top: 1px solid var(--gray);
}

#personal .languages td:first-child {
  padding-right: 0;
}

#personal .languages td {
  padding: 1rem 1.5rem;
}

#personal .languages td h3 {
  margin: 0;
}

#personal .languages td:first-child img {
  width: 2rem;
  height: 2rem;
}

#personal .languages td:last-child span {
  display: inline-block;
  background-color: var(--dark-gray);
  border: 1px solid var(--gray);
  border-radius: 3rem;
  text-align: center;
  color: var(--lighter-gray);
  padding: 0.25rem 1rem;
  width: 8rem;
}

#personal .languages td:last-child span.native {
  background-color: hsl(130, 100%, 20%);
  border-color: hsl(130, 100%, 50%);
  color: hsl(130, 100%, 50%);
}

#personal .languages td:last-child span.fluent {
  background-color: hsl(90, 100%, 20%);
  border-color: hsl(90, 100%, 50%);
  color: hsl(90, 100%, 50%);
}

#personal .languages td:last-child span.basic {
  background-color: hsl(55, 100%, 20%);
  border-color: hsl(55, 100%, 50%);
  color: hsl(55, 100%, 50%);
}

#personal .hobbies li {
  display: flex;
  align-items: center;
  margin: 1.5em 0;
}

#personal .hobbies li span {
  background-color: var(--gray);
  border: 1px solid var(--lighter-gray);
  border-radius: 50%;
  font-size: 2rem;
  margin-right: 0.5em;
  padding: 0.5rem;
  transition: transform 1s;
}

#personal .hobbies li:hover span {
  transform: rotateY(360deg);
}
