#skills > div {
  margin: 1.5rem 0;
}

#skills fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

#skills .skills-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

#skills .skills-list[aria-expanded='false'] {
  display: none;
}

#skills .skills-list fieldset {
  flex: 0 0;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-gray);
  /* border-radius: var(--radius-s); */
  border-bottom: 0.5rem solid #0003;
  margin: 0.5rem 0 0 0;
  padding: 1.5rem 2rem;
}

#skills .skills-list legend {
  background-color: var(--white);
  border-radius: var(--radius-xs);
  /* box-shadow: 0 0 1rem var(--pri); */
  color: var(--black);
  font-weight: 500;
  text-align: center;
  padding: 0.25rem 1rem;
}

#skills .skills-list p {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0;
}

#skills .skills-list .image-blur {
  order: -1;
  display: block;
  margin: 0 auto;
}

#skills .skills-list .image-blur img {
  border-radius: 10%;
  width: 10rem;
  height: 10rem;
}

#programming-skills form {
  margin-bottom: 1.5rem;
}

#programming-skills form h3 {
  margin: 0.5em 0;
}

#programming-skills form fieldset {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  margin: 0 0.15rem;
}

#programming-skills form label {
  cursor: pointer;
  display: inline-block;
  background-color: var(--dark-gray);
  padding: 0.25rem 0.5rem;
  transform: skewX(-8deg);
  transition: background 150ms, color 150ms;
}

#programming-skills form input {
  pointer-events: none;
  position: fixed;
  opacity: 0;
}

#programming-skills form label > span {
  display: inline-block;
  transform: skewX(8deg);
}

#programming-skills form label:is(:hover, :focus-visible) {
  background-color: var(--gray);
}

#programming-skills form label:has(input:checked) {
  background-color: var(--pri);
}
