#skills > div {
  margin: 1.5rem 0;
}

#skills .image-blur {
  position: relative;
}

#skills .image-blur > img:first-child {
  filter: blur(1rem);
}

#skills .image-blur > img:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

#skills .skills-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  margin: 1rem 0;
}

#skills .skills-list[aria-expanded='false'] {
  display: none;
}

#skills .skills-list li {
  width: 12rem;
  height: 12rem;
  perspective: 30rem;
}

#skills .skills-list li:is(:hover, :focus-visible, .flip) .card {
  transform: translate(-25%, -25%) rotateY(-180deg) scale(0.5);
}

#skills .skills-list li:is(:hover, :focus-visible, .flip) .card::before {
  opacity: 0;
}

#skills .skills-list li:is(:hover, :focus-visible, .flip) .card::after {
  opacity: 1;
}

#skills .skills-list li:is(:hover, :focus-visible, .flip) .card .image-blur {
  filter: brightness(0.3);
}

#skills .skills-list .card {
  display: block;
  font-size: 2rem;
  background-color: #1119;
  width: 12em;
  height: 12em;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform: translate(-25%, -25%) rotateY(0) scale(0.5);
}

#skills .skills-list .card::before,
#skills .skills-list .card::after {
  content: '';
  border: 0.25em solid #fff9;
  position: absolute;
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
  opacity: 1;
  transition: opacity 1s;
  transform: translateZ(1em);
}

#skills .skills-list .card::after {
  opacity: 0;
  transform: translateZ(-1em) rotateY(180deg);
}

#skills .skills-list .card h3 {
  background-color: #fff9;
  color: var(--black);
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  position: absolute;
  left: 2em;
  bottom: 1em;
  padding: 0.25em 0.5em;
  transform: translateZ(2em);
  z-index: 1;
}

#skills .skills-list .card .image-blur {
  display: block;
  margin: 0 auto;
  transition: filter 500ms;
}

#skills .skills-list .card .image-blur img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10%;
  width: 100%;
  height: 100%;
}

#skills .skills-list .back {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  transform-style: preserve-3d;
  transform: translateZ(-4rem) rotateY(180deg);
}

#skills .skills-list .back > * {
  display: inline-block;
  backface-visibility: hidden;
}

#skills .skills-list .back h4 {
  display: block;
  font-variant: all-petite-caps;
  text-align: center;
  width: 100%;
}

#skills .skills-list .back h4:last-child {
  font-weight: normal;
  font-variant: unset;
  white-space: nowrap;
  margin-top: 1em;
}

#skills .skills-list .back h4:last-child span:last-child {
  font-weight: 700;
}

#skills .skills-list .back p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25em;
  margin-bottom: 0;
}

#skills .skills-list li .progress-bar {
  background-color: var(--white);
  border: 0;
  border-radius: var(--radius-m);
  font-size: 1em;
  color: var(--black);
}

#skills .skills-list li .progress-bar span:first-child {
  background-color: var(--green);
  z-index: 1;
}

#skills .skills-list li .progress-bar span:last-child {
  mix-blend-mode: unset;
  position: relative;
  z-index: 1;
}

#skills .skills-list li .stars {
  backface-visibility: visible;
  color: var(--pri);
}

#skills .skills-list li .stars span {
  font-size: 2em;
  position: absolute;
}

#skills .skills-list li .stars span:nth-of-type(1) {
  top: calc(2.5em + sin(342deg) * 20%);
  left: calc(2.5em + cos(342deg) * 20%);
}

#skills .skills-list li .stars span:nth-of-type(2) {
  top: calc(2.5em + sin(54deg) * 20%);
  left: calc(2.5em + cos(54deg) * 20%);
}

#skills .skills-list li .stars span:nth-of-type(3) {
  top: calc(2.5em + sin(126deg) * 20%);
  left: calc(2.5em + cos(126deg) * 20%);
}

#skills .skills-list li .stars span:nth-of-type(4) {
  top: calc(2.5em + sin(198deg) * 20%);
  left: calc(2.5em + cos(198deg) * 20%);
}

#skills .skills-list li .stars span:nth-of-type(5) {
  top: calc(2.5em + sin(270deg) * 20%);
  left: calc(2.5em + cos(270deg) * 20%);
}

#programming-skills form {
  display: block;
  position: sticky;
  top: 1.5rem;
  margin-bottom: 2rem;
  z-index: 1;
}

#programming-skills form h3 {
  margin: 0.5em 0;
}

#programming-skills form label {
  cursor: pointer;
  display: inline-block;
  background-color: var(--dark-gray);
  border: 2px solid transparent;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  transform: skewX(-8deg);
  transition: background 150ms, color 150ms;
}

#programming-skills form input {
  pointer-events: none;
  position: fixed;
  opacity: 0;
}

#programming-skills form label > span {
  display: inline-block;
  transform: skewX(8deg);
}

#programming-skills form label:is(:hover, :focus-visible) {
  background-color: var(--gray);
}

#programming-skills form label:has(input:checked) {
  background-color: var(--pri);
  color: var(--text-pri);
}

#programming-skills form label:has(input:focus-visible) {
  border: 2px solid var(--white);
}

#programming-skills ul {
  will-change: contents;
}

@media only screen and (width > 60em) and (width <= 85em) {
}
