#work h2 {
  font-weight: 600;
  margin-bottom: 0;
}

#work h2 .highlight {
  color: var(--pri);
}

#work .duration {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.85rem;
  color: var(--lighter-gray);
  margin-top: 0.5rem;
}

#work .extra {
  margin-top: 1rem;
}

#work > ol > li ul {
  list-style-type: none;
  padding-left: 1.5em;
}

#work > ol > li li::before {
  content: '▹';
  font-size: 1.5rem;
  line-height: 0.75;
  color: var(--pri);
  position: absolute;
  left: 0;
}
